/* GENERIC */
*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: 'Lato', sans-serif;
  background-color: bisque;
  padding: 0 20px;
}

body {
  max-width: 1045px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none; 
}

p {
  font-weight: light;
}

ul {
  padding-left: 0;
}

/* HEADER */
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

header img {
  width: 32px;
  height: auto;
  margin-right: 20px;
}

.options {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
}

.options a {
  margin: 0 10px;
}

.options span {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  transition: all ease-in-out 0.2s;
}

/* .options span:hover {
  background-color: lightgrey;
  box-shadow: 0 0 5px 0 grey;
} */

/* TIERLIST */
.tier-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.tier {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: lightgrey;
}

.tier-options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: black;
  border-radius: 10px;
}

.tier-title {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
}

#s-tier {
  background-color: #B20022;
}

#a-tier {
  background-color: #FF7F00;
}

#b-tier {
  background-color: #E5E52E;
}

#c-tier {
  background-color: #71DC56;
}

#d-tier {
  background-color: #5EB1D4;
}

.tier-images-container {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.tier-images {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.tier-images img {
  object-fit: cover;
  object-position: center; 
  height: 100px;
  width: 100px;
}


.image-options-container {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.image-options {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px dashed black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.image-options span {
  font-size: 48px !important;
}

#input-file {
  /* display: none; */
}

/* SORTABLE */
.sortable-ghost {
  opacity: 0;
}